<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EdTech | Home</title>
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>
  <body>
    <main id="home-parent">
      <h1 id="home-head">Welcome to EdTech!</h1>
      <button id="login-home" onclick="login()">Login</button>
      <button id="reg-home" onclick="register()">Register</button>
    </main>
  </body>
</html>
<script src="/static/js/home.js"></script>
