<!DOCTYPE html>
<html>
  <head>
    <title>myntra.com</title>
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>
  <body>
    <main id="login">
      <div id="login-body">
        <div id="login-head">Login here</div>
        <form id="login">
          <input type="text" placeholder="Username" id="Username" />
          <input type="password" placeholder="Password" id="Password" />
          <input class="login-btn" type="submit" value="Login" />
        </form>
        <p>
          Don't have an account?
          <span onclick="register()">Register here.</span>
        </p>
        <div id="alert"></div>
      </div>
    </main>
  </body>
</html>
<script src="/static/js/login.js"></script>
<script src="/static/js/home.js"></script>
