@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap");

* {
  font-family: "Azeret Mono", monospace;
}

body {
  background-color: #fafafa;
}

#home-parent {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 200px;
}

button {
  padding: 10px;
  margin: 10px 0;
  width: 50%;
  align-self: center;
}
